@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.932);
  width: 100%;
  height: 300vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  -webkit-animation: disparition 1s normal forwards 3s;
          animation: disparition 1s normal forwards 3s;
  -webkit-animation: withnone 0s normal forwards 4s;
          animation: withnone 0s normal forwards 4s;
}
.loading .letter {
  top: 5%;
  color: white;
  font-size: 30px;
  letter-spacing: 15px;
  margin-top: 250px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
}
@-webkit-keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px gray;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #fff900;
  }
}
@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px gray;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #fff900;
  }
}
.loading .letter:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loading .letter:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loading .letter:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading .letter:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loading .letter:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading .letter:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.loading .letter:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes disparition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes disparition {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes withnone {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
@keyframes withnone {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 2px 10px 0px rgb(163, 162, 162);
}
header .img_container {
  width: 40%;
}
header .img_container img {
  width: 100%;
}

nav .localisation {
  text-align: center;
  background-color: rgba(128, 128, 128, 0.133);
  box-shadow: 0px 0px 0px 0px rgb(163, 162, 162);
}
nav .localisation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav .localisation ul li {
  margin: 15px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
}
nav .localisation ul li .fa {
  font-size: 20px;
}
nav .reservation_containt {
  background-color: rgba(128, 128, 128, 0.061);
  display: flex;
  justify-content: center;
}
nav .reservation_containt .info_reserv {
  width: 90%;
  text-align: center;
}
nav .reservation_containt .info_reserv h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}
nav .reservation_containt .info_reserv p {
  font-size: 20px;
}
nav .reservation_containt .info_reserv button {
  margin-top: 20px;
  margin-bottom: 30px;
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgba(255, 121, 217, 0.8) 27%, rgba(147, 86, 220, 0.9447129193) 58%);
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 17px;
  color: white;
}
nav .fonctionnement .container_fontionnement {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
nav .fonctionnement .container_fontionnement h1 {
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}
nav .fonctionnement .container_fontionnement .navigation_link .link {
  display: flex;
  align-items: center;
}
nav .fonctionnement .container_fontionnement .navigation_link .link .number {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: #fff;
  position: relative;
  left: 12px;
  top: -12px;
}
nav .fonctionnement .container_fontionnement .navigation_link .link .icon_text {
  width: 90%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 0 2px 8px -1px gray;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
nav .fonctionnement .container_fontionnement .navigation_link .link .icon_text:hover {
  background-color: rgba(146, 86, 220, 0.1607843137);
  transition: 0.5s ease-in-out;
}
nav .fonctionnement .container_fontionnement .navigation_link .link .icon_text .fa {
  font-size: 25px;
  color: gray;
}
nav .fonctionnement .container_fontionnement .navigation_link .link .icon_text .text {
  font-size: 19px;
  font-weight: bold;
}
nav .fonctionnement .container_fontionnement .navigation_link .link .icon_text:hover .fa {
  color: #9356DC;
}
nav .container_restau {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
nav .container_restau h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}
nav .container_restau .restau_img {
  box-shadow: 0 2px 8px -1px gray;
  margin-bottom: 25px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
nav .container_restau .restau_img .image {
  width: 100%;
  height: 180px;
  position: relative;
}
nav .container_restau .restau_img .image .btnNew {
  position: absolute;
  top: 10%;
  left: 65%;
  width: 30%;
  height: 40px;
  background-color: #99E2D0;
  color: green;
  font-weight: bold;
  font-size: 18px;
  border: none;
}
nav .container_restau .restau_img .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
nav .container_restau .restau_img .info_restau {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container_restau .restau_img .info_restau .nom_restau {
  overflow: hidden;
  margin-left: 15px;
  padding: 5px;
}
nav .container_restau .restau_img .info_restau .nom_restau h2 {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
nav .container_restau .restau_img .info_restau .nom_restau h2 a {
  color: black;
  text-decoration: none;
}
nav .container_restau .restau_img .info_restau .nom_restau p {
  margin-bottom: 15px;
}
nav .container_restau .restau_img .info_restau .fa-heart {
  margin-right: 15px;
  font-size: 25px;
  cursor: pointer;
}
nav .container_restau .restau_img .info_restau .fa-heart:hover {
  color: #9356DC;
}

footer {
  background-color: gray;
}
footer h2 {
  font-family: Shrikhand;
  color: #fff;
  padding-top: 25px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
footer .container_footer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
footer .container_footer .footer_info {
  display: flex;
  margin-top: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
footer .container_footer .footer_info .fa {
  margin-right: 15px;
}

a {
  position: relative;
  left: -20%;
  color: black;
  cursor: pointer;
}

nav .container_image {
  width: 100%;
}
nav .container_image img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}
nav .menu {
  margin-top: -50px;
  background-color: rgba(236, 236, 236, 0.969);
  position: relative;
  z-index: 1;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
nav .menu .tittle {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
nav .menu .tittle h2 {
  font-family: Shrikhand;
}
nav .menu .tittle .fa {
  font-size: 25px;
}
nav .menu .tittle .fa:hover {
  background-color: #99E2D0;
  cursor: pointer;
}
nav .menu .container_plats {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
nav .menu .container_plats .info_menu {
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0;
  transform: translatey(30px);
  -webkit-animation: apparition 0.5s 0.9s ease-out forwards;
          animation: apparition 0.5s 0.9s ease-out forwards;
}
@-webkit-keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes apparition {
  100% {
    opacity: 1;
    transform: none;
  }
}
nav .menu .container_plats .info_menu h3::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #99E2D0;
  margin-bottom: 15px;
}
nav .menu .container_plats .info_menu .plat_prix {
  box-shadow: 0px 0px 10px 0px rgb(163, 162, 162);
  height: 55px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
nav .menu .container_plats .info_menu .plat_prix .contain {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav .menu .container_plats .info_menu .plat_prix h2 {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav .menu .container_plats .info_menu .plat_prix .prix_name {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
nav .menu .container_plats .info_menu .plat_prix .prix_name p:nth-child(1) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
nav .menu .container_plats .info_menu .plat_prix .cont-anim {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -71px;
}
nav .menu .container_plats .info_menu .plat_prix .cont-anim .prix {
  margin-bottom: -20px;
}
nav .menu .container_plats .info_menu .plat_prix .cont-anim .animat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 60px;
  margin-left: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: 0.5s ease-in-out;
}
nav .menu .container_plats .info_menu .plat_prix .cont-anim .animat .fa {
  color: #fff;
  font-size: 25px;
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}
nav .menu .container_plats .info_menu .plat_prix:hover .animat {
  margin-right: 60px;
  transition: 0.5s ease-in-out;
}
nav .menu .container_plats .info_menu .plat_prix:hover .animat .fa {
  transform: rotate(0deg);
  transition: 0.8s ease-in-out;
}
nav .btn {
  display: flex;
  justify-content: center;
}
nav .btn button {
  margin-top: 20px;
  margin-bottom: 30px;
  background: rgb(255, 121, 218);
  background: linear-gradient(172deg, rgba(255, 121, 217, 0.8) 27%, rgba(147, 86, 220, 0.9447129193) 58%);
  width: 220px;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-size: 17px;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 690px) {
  nav .container_image {
    width: 100%;
  }
  nav .menu .tittle {
    width: 70%;
  }
  nav .menu .container_plats {
    width: 70%;
  }
  nav .menu .container_plats .plat_prix .contain h2 {
    font-size: 17px;
  }
  nav .menu .container_plats .plat_prix .contain .prix_name p {
    font-size: 17px;
  }
}
@media screen and (min-width: 990px) {
  nav .container_image {
    width: 100%;
  }
  nav .container_image img {
    height: 100vh;
  }
  nav .menu .tittle {
    width: 90%;
  }
  nav .menu .container_plats {
    width: 60%;
  }
  nav .menu .container_plats {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  nav .menu .container_plats .info_menu {
    width: 30%;
  }
  nav .menu .container_plats .info_menu .plat_prix {
    height: 80px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 690px) {
  header {
    height: 70px;
  }
  header .img_container {
    width: 30%;
  }
  section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .fonctionnement .container_fontionnement {
    width: 70%;
  }
  nav .container_restau {
    width: 90%;
  }
  nav .container_restau .restau_img {
    margin-bottom: 45px;
  }
  nav .container_restau .restau_img .image {
    height: 300px;
  }
  nav .container_restau .info_restau {
    height: 80px;
  }
  nav .container_restau .info_restau h2 {
    font-size: 30px;
  }
  nav .container_restau .info_restau p {
    font-size: 20px;
  }
  footer {
    padding: 25px;
  }
  footer h2 {
    margin-bottom: 25px;
  }
  footer .container_footer {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 990px) {
  header {
    height: 75px;
  }
  header .img_container {
    width: 20%;
  }
  section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .fonctionnement .container_fontionnement .navigation_link {
    display: flex;
  }
  .fonctionnement .container_fontionnement .navigation_link .link {
    width: 40%;
  }
  .infos_des_restau {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 55px;
         column-gap: 55px;
  }
}/*# sourceMappingURL=main.css.map */